.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.peg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platform {
  height: 20px;
  width: 250px;
  background-color: brown;
}

.slot {
  border: 1px solid black;
  height: 100px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.ring {
  height: 20px;
  width: 200px;
  background-color: green;
  flex-shrink: 0;
}

.sml {
  width: 100px;
}

.lg {
  width: 300px;
}
